/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Merriweather Sans', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.header-section {
  background: #4C6A2D;
  padding: 15px 0;
}
.header-section header {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  color: white;
}
.header-section header .logo-text {
  font-size: 3rem;
  margin: auto;
}
.header-section header nav {
  margin: auto;
  padding: 0 10px 0 60px;
}
.header-section header nav a {
  padding: 0 15px;
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
}
.home-banner {
  border-top: 2px dashed #A39280;
  display: flex;
  justify-content: center;
}
.home-banner img {
  width: 100%;
  height: auto;
}
.cta-section {
  display: flex;
  padding: 15px;
  width: 85%;
  margin: 0 auto;
}
.cta-section .cta-text {
  padding: 20px;
}
.cta-section .cta-text h2 {
  font-size: 1.5rem;
}
.cta-section .cta-text p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 10px 0;
}
.cta-section .home-cta-button {
  font-weight: bold;
  letter-spacing: 0.1rem;
  background-color: #4C6A2D;
  border-radius: 1.5rem;
  padding: 15px 25px;
  margin: 15px auto;
  width: 200px;
  text-align: center;
}
.cta-section .home-cta-button:hover {
  background-color: #A39280;
}
.cta-section .home-cta-button a {
  text-decoration: none;
  color: white;
}
.cta-section .cta-image img {
  height: 450px;
  border-radius: 1.5rem;
}
.tabs-section {
  display: flex;
  justify-content: center;
  margin: 25px 15px 0 0;
}
.tabs-section .tab {
  width: 250px;
  padding: 20px 0px;
  margin: 0 15px;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-align: center;
  background: #2A2E43;
  color: white;
}
.tabs-section .tab:hover {
  text-decoration: underline;
  background: #A39280;
}
.card .card-content {
  display: flex;
  width: 75%;
  border: solid black;
  border-radius: 2rem;
  padding: 25px;
  margin: 25px auto;
}
.card .card-content img {
  padding: 25px;
}
.card h2 {
  font-size: 1.5rem;
}
.card p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 10px 0;
}
.card img {
  width: 500px;
  border-radius: 1.5rem;
}
.card .card-button {
  font-weight: bold;
  letter-spacing: 0.1rem;
  background-color: #4C6A2D;
  border-radius: 1.5rem;
  padding: 15px 0;
  margin: 15px auto;
  width: 175px;
  text-align: center;
}
.card .card-button:hover {
  background: #A39280;
}
.card .card-button a {
  text-decoration: none;
  color: white;
}
.footer-section {
  background: #4C6A2D;
  margin: 0 auto;
  display: flex;
  color: white;
  padding: 15px 0;
  border-top: 2px dashed #A39280;
}
.footer-section footer {
  width: 1000px;
  margin: 0 auto;
}
.footer-section footer .footer-nav {
  display: flex;
}
.footer-section footer .footer-nav .footer-logo-text {
  font-size: 2rem;
}
.footer-section footer .footer-nav nav {
  margin: auto 0;
  padding: 0 10px 0 60px;
}
.footer-section footer .footer-nav nav a {
  padding: 0 15px;
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
}
@media (max-width: 600px) {
  .container {
    width: 100%;
  }
  .container header {
    width: 100%;
    display: block;
  }
  .container header .logo-image {
    display: none;
  }
  .container header .logo-text {
    text-align: center;
    font-size: 2rem;
  }
  .container header nav {
    padding: 0;
    margin: 0;
  }
  .container header nav a {
    display: block;
    width: 100%;
    font-size: 1.25rem;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid white;
  }
  .container .home-banner img {
    width: auto;
    height: 225px;
    padding-top: 15px;
    border-radius: 2rem;
  }
  .container .cta-section {
    display: block;
  }
  .container .tabs-section {
    margin: 0 auto;
  }
  .container .tabs-section .tab {
    font-size: 0.85rem;
    padding: 15px 0;
  }
  .container .card-content {
    display: block;
  }
  .container .card-content img {
    margin: 0 auto;
    width: 325px;
  }
  .container .footer-section {
    display: block;
  }
  .container .footer-section nav a {
    display: none;
  }
}
